aiohttp
python-decouple
pyaesni
psutil
telethon
html_telegraph_poster
lxml[html_clean]
lxml_html_clean
pyrogram>=2.0.106
pymediainfo
tgcrypto
https://github.com/New-dev0/Telethon/archive/diamond.zip
Flask>=2.0
speedtest-cli
motor
pymongo
dnspython
